*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: aqua;
    font-family: courier;
}


#container{
    width: 800px;
    padding: 20px;
    border:1px solid black;
    margin:10px auto;
    border-radius: 10px;
}

#post h1{
    margin-bottom: 10px;
    text-align: center;
    font-size: 3rem;
}

#post p{
    font-size: 1.6rem;
    text-align: right;
    margin-bottom: 30px;
}