*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color:cadetblue;
    font-family: courier;
}


#container{
    width: 800px;
    padding: 0px 10px 10px 0px;
    border:1px solid black;
    margin:10px auto;
    border-radius: 10px;
    overflow: hidden;
}

#cabecera{
    background-color:#33A;
    box-shadow: 0px 5px 30px 0px rgb(0,0,0);
    text-align: left;
    font-size: 2.5rem;
    padding: 10px;
    color:white;
    font-weight: bold;
    margin-bottom: 30px;
    
}

#cabecera #tabline{
    font-size: 1.4rem;
    margin-left: 20px;
}

#post h1{
    margin-bottom: 10px;
    text-align: center;
    font-size: 3rem;
}

#post p{
    font-size: 1.6rem;
    text-align: right;
    margin-bottom: 30px;
}